<% content_for :binnacle_chat do %>
  <%= Gon::Base.render_data %>
<% end %>

<div class="binnacle_chat" id="<%= binnacle_chat_id %>"
     data-identity="<%= binnacle_chat_identity %>"
     data-email="<%= binnacle_chat_email %>"
     data-display-name="<%= binnacle_chat_display_name %>"
     data-room="<%= binnacle_chat_room %>"
     data-title="<%= binnacle_chat_title %>"
  >
  <div id="messages">
    <div id='binnacle-chat-left' class="chat-item item-left clearfix template hidden">
      <div class="chat-user">
        <img src="#" class="img-responsive img-circle">
      </div>
      <div class="chat-body">
        <div class="name">#{name}</div>
        <div class="time hidden-xs"><i class="fa fa-clock-o"></i> <span>#{time}</span></div>
        <div class="message">
          <p>#{message}</p>
        </div>
      </div>
    </div> <!-- /binnacle-chat-left -->
    <div id='binnacle-chat-right' class="chat-item item-right clearfix template hidden">
      <div class="chat-user">
        <img src="#" class="img-responsive img-circle">
      </div>
      <div class="chat-body">
        <div class="name">#{name}</div>
        <div class="time hidden-xs"><i class="fa fa-clock-o"></i> <span>#{time}</span></div>
        <div class="message">
          <p>#{message}</p>
        </div>
      </div>
    </div> <!-- /binnacle-chat-right -->

    <div class="user-activity user-joined text-center template">
      <i class="fa fa-smile-o"></i> <span>#{Room Member}</span> has joined the room
    </div>

    <div class="user-activity user-left text-center template">
      <i class="fa fa-frown-o"></i> <span>#{Room Member}</span> has left the room
    </div>
  </div> <!-- /#messages -->
</div>
