<%= javascript_tag(id: 'binnacle_remove') do %>
$("body").data("binnacle",
  {
    accountId: '<%= binnacle_chat_account %>',
    appId: '<%= binnacle_chat_app %>',
    apiKey: '<%= binnacle_chat_api_key %>',
    apiSecret: '<%= binnacle_chat_api_secret %>',
    endPoint: '<%= binnacle_chat_url %>',
    contextId: '<%= binnacle_chat_context %>',
    identity: '<%= binnacle_chat_identity %>',
    room: '<%= binnacle_chat_room %>'
  }
);
<% end %>

<div class="binnacle_chat" id="<%= binnacle_chat_id %>">
  <div id="messages">
    <div class="chat-item item-left clearfix">
      <div class="chat-user">
        <img src="http://lorempixel.com/50/50/" class="img-responsive img-circle">
      </div>
      <div class="chat-body">
        <div class="name">Batman</div>
        <div class="time hidden-xs"><i class="fa fa-clock-o"></i> 15 mins ago</div>
        <div class="text">
          <p>Using my detective skills, I've determined your true identity.</p>
        </div>
      </div>
    </div> <!-- /chat-item -->
    <div class="chat-item item-right clearfix">
      <div class="chat-user">
        <img src="http://lorempixel.com/50/50/" class="img-responsive img-circle">
      </div>
      <div class="chat-body">
        <div class="name">Superman</div>
        <div class="time hidden-xs"><i class="fa fa-clock-o"></i> 8 mins ago</div>
        <div class="text">
          <p>This is awkward...</p>
          <p>...</p>
        </div>
      </div>
    </div> <!-- /chat-item -->
    <div class="chat-item item-left clearfix">
      <div class="chat-user">
        <img src="http://lorempixel.com/50/50/" class="img-responsive img-circle">
      </div>
      <div class="chat-body">
        <div class="name">Batman</div>
        <div class="time hidden-xs"><i class="fa fa-clock-o"></i> 3 mins ago</div>
        <div class="text">
          <p>>: )</p>
        </div>
      </div>
    </div> <!-- /chat-item -->
  </div> <!-- /#messages -->

  <legend id="username"></legend>
</div>