<%= javascript_tag(id: 'binnacle_remove') do %>
$("body").data("binnacle-data",
  {
    accountId: '<%= binnacle_chat_account %>',
    appId: '<%= binnacle_chat_app %>',
    apiKey: '<%= binnacle_chat_api_key %>',
    apiSecret: '<%= binnacle_chat_api_secret %>',
    endPoint: '<%= binnacle_chat_url %>',
    contextId: '<%= binnacle_chat_context %>',
    identity: '<%= binnacle_chat_identity %>',
    room: '<%= binnacle_chat_room %>'
  }
);
<% end %>

<div class="binnacle_chat" id="<%= binnacle_chat_id %>">
  <div id="messages">
    <div id='binnacle-chat-left' class="chat-item item-left clearfix template">
      <div class="chat-user">
        <img src="http://lorempixel.com/50/50/" class="img-responsive img-circle">
      </div>
      <div class="chat-body">
        <div class="name">#{name}</div>
        <div class="time hidden-xs"><i class="fa fa-clock-o"></i> <span>#{time}</span></div>
        <div class="message">
          <p>#{message}</p>
        </div>
      </div>
    </div> <!-- /binnacle-chat-left -->
    <div id='binnacle-chat-right' class="chat-item item-right clearfix template">
      <div class="chat-user">
        <img src="http://lorempixel.com/50/50/food" class="img-responsive img-circle">
      </div>
      <div class="chat-body">
        <div class="name">#{name}</div>
        <div class="time hidden-xs"><i class="fa fa-clock-o"></i> <span>#{time}</span></div>
        <div class="message">
          <p>#{message}</p>
        </div>
      </div>
    </div> <!-- /binnacle-chat-right -->
    <div class="chat-item item-left clearfix">
      <div class="chat-user">
        <img src="http://lorempixel.com/50/50/" class="img-responsive img-circle">
      </div>
      <div class="chat-body">
        <div class="name">Batman</div>
        <div class="time hidden-xs"><i class="fa fa-clock-o"></i> 3 mins ago</div>
        <div class="text">
          <p>>: )</p>
        </div>
      </div>
    </div> <!-- /chat-item -->
    <div class="user-activity text-center">
      <i class="fa fa-smile-o"></i> Room member has joined the room
    </div>
    <div class="chat-item item-right clearfix">
      <div class="chat-user">
        <img src="http://lorempixel.com/50/50/people" class="img-responsive img-circle">
      </div>
      <div class="chat-body">
        <div class="name">Room member</div>
        <div class="time hidden-xs"><i class="fa fa-clock-o"></i> a min ago</div>
        <div class="text">
          <p>What are we doing tonight?</p>
          <p>Because I've been thinking about this thing that everyone's been talking about. You know, the one where there's a spaceship involved and a horse riding a man to outer space.</p>
        </div>
      </div>
    </div> <!-- /chat-item -->
    <div class="user-activity text-center">
      <i class="fa fa-frown-o"></i> Room member has left the room
    </div>
  </div> <!-- /#messages -->
</div>
